body {
  font-family: "Montserrat", sans-serif;
  background-image: url(ho-ho-ho.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-color: rgb(192, 34, 34);
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.content {
  background-color: rgba(251, 248, 249, 0.82);
  height: 300px;
  width: 200px;
  margin-top: 50px;
  border: 3px solid black;
}
.text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
}

h1 {
  background-color: rgba(251, 248, 249, 0.9);
  font-size: 60px;
  padding: 20px;
  border: 3px solid black;
}
h3 {
  font-size: 30px;
}
.days,
.hours,
.minutes,
.seconds {
  font-size: 40px;
}
.red {
  font-size: 60px;
  font-family: "Staatliches", sans-serif;
  border: none;
  color: red;
}
button {
  border: none;
  border-radius: 60px;
  margin-left: 160px;
}

.song {
  width: 120px;
}

@media all and (max-width: 800px) {
  h1,
  .red {
    font-size: 40px;
  }
}
@media all and (max-width: 500px) {
  h1,
  .red {
    font-size: 35px;
  }
}
